// --------------------------------------------------------------
// This file contains all styles related to the icon component.
// --------------------------------------------------------------

.icon {
				display: inline-block;
				width: 1.5rem;
				height: 1.5rem;
				margin: 0 0.325rem;
				background: no-repeat / center;
				background-size: cover;
				vertical-align: middle;
				
				&--js {
								background-image: url('/src/assets/icons/icon-js.svg');
				}
				
				&--sass {
								background-image: url('/src/assets/icons/icon-sass.svg');
				}
}


