// --------------------------------------------------------------
// This file contains all styles related to
// the message component.
// --------------------------------------------------------------

.message {
				padding: 2.5rem;
				font-family: 'OpenSans', 'Helvetica', sans-serif;
				
				&__title {
								font-size: 1.6rem;
				}
				
				&__description {
								font-size: 0.9rem;
								line-height: 1.618;
				}
}
