// --------------------------------------------------------------
// This file contains all application-wide Sass variables.
// --------------------------------------------------------------

@import '../sass-boilerplate/stylesheets/abstracts/variables';

/// Regular font family
/// @type List
$text-font-stack: sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222222FF !default;

/// Main brand color
/// @type Color
$brand-color: #E50050FF !default;

/// Light grey
/// @type Color
$light-grey: #EDEDEDFF !default;

/// Medium grey
/// @type Color
$mid-grey: #999999FF !default;

/// Dark grey
/// @type Color
$dark-grey: #444444FF !default;

/// Container's maximum width
/// @type Length
$max-width: 80rem !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in em's
$breakpoints: ('small': 20em, 'medium':48em, 'large': 64em, 'max': 160em) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$assets-url: '/src/assets';

// This is a test to check whether a default $text-font-stack
// is overridden by project's $text-font-stack
@debug $text-font-stack;